* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Poppins, sans-serif;
    font-style: normal;
}
.main-title {
    margin: 30px 0;
    color: #42446E;
    font-size: 42px;
    font-weight: 700;
    line-height: 1.23;
    letter-spacing: -0.4px;
}
.main-text {
    color: #666;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
}
.container {
    display: block;
    margin: 0 auto;
    max-width: 1200px;
    padding-top: 40px;
    padding-bottom: 60px;
}
.mobile-header {
    display: none;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-logo {
    max-width: 97px;
    width: 100%;
}
.header-nav {
    display: inline-flex;
    gap: 60px;
    list-style: none;
}
.nav-item {
    position: relative;
    color: #666;
    text-align: center;
    font-family: DM Sans, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3;
    text-decoration: none;
}
.nav-item:hover {
    background: linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}
.nav-item::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background: linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%);
    -webkit-text-fill-color: transparent;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}
.nav-item:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.dark-light {
    margin: 0 auto£;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}
.dark-light input {
    position: absolute;
    opacity: 0;
}
.sun {
    position: absolute;
    font-size: 1.5em;
    color: rgb(0 0 0 / 57%);
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, .5)); 
    transform: scale(0);
    transition: 1s ease;
}
.dark-light input:checked~.sun {
    transition-delay: .8s;
    transform: scale(1) rotate(360deg);
}
.moon {
    font-size: 1.5em;
    color: #2b2b2b;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, .5));
    transition: 1s ease;
    transition-delay: .8s;
}
.dark-light input:checked~.moon {
    transition-delay: 0s;
    transform: rotate(360deg) scale(0);
}
.toggle {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    background: #f8f8f8;
    border-radius: 50%;
    box-shadow: inset 0 3px 22px rgba(0, 0, 0, .1), inset 0 3px 3px rgba(0, 0, 0, .1), inset 0 -1px 1px rgba(0, 0, 0, .1);
    z-index: -1;
    transition: 1s;
}
.dark-light input:checked~.toggle {
    background: #f8f8f8;
}
.animate-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #282828;
    z-index: -2;
    clip-path: circle(0% at 50% 50%);
    transition: 1.5s ease-out;
}
.dark-light input:checked~.animate-bg {
    clip-path: circle(150% at 50% 50%);
}
.header-link {
    display: flex;
    gap: 20px;
}

.link-icon {
    max-width: 30px;
    width: 100%;
}
.mobile-nav {
    display: flex;
}
.navbar-toggle {
    display: none;
}
.hamburger-menu {
    display: none;
    color: #666;
    font-size: 24px;
    user-select: none;
}
.hero {
    display: flex;
    justify-content: space-between;
    margin-top: 220px;
    margin-bottom: 330px;
}
.hero-title {
    display: inline-block;
    max-width: 636px;
    
}
.hero-text {
    margin-top: 20px;
    color: #42446E;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 58px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -1px;
}
.hero-text-name {
    background: linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero-img {
    width: 350px;
    height: 349px;
    border-radius: 230px;
    border: 9px solid #E70FAA;
}
.about {
    max-width: 710px;
    margin-bottom: 200px;
}
.about .main-title {
    margin: 38px 0;
}
.about-text {
    color: #666;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.44;
}
.work {
    display: block;
    margin-bottom: 30px;
    border-bottom: 2px solid #EBEAED;
}
.work-position {
    display: flex;
    justify-content: space-between;
}
.work-title {
    display: inline-block;
    color: #666;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 1px;
}
.work-button {
    box-sizing: border-box;
    display: inline-block;
    width: 84px;
    height: 24px;
    border-radius: 100px;
    background: #D7FFE0;
    color: #018C0F;
    text-align: center;
    font-size: 9px;
    font-weight: 600;
    line-height: 2.8;
}
.work-space {
    margin-top: 10px;
    margin-bottom: 25px;
    display: flex;
    justify-content: end;
}
.work-text {
    color: #A7A7A7;
    font-size: 12px;
    font-weight: 500;
    line-height: 2.33;
    letter-spacing: 1px;
}
.work-text:first-child {
    flex-grow: 1;
}
.work-text:last-child {
    margin-left: 180px;
}
.tech {
    margin-bottom: 200px;
}
.tech-skills {
    display: flex;
    flex-flow: wrap;
    column-gap: 100px;
    row-gap: 80px;
    margin-top: 200px;
}
.projects {
    margin-bottom: 200px;
}
.projects-cards {
    margin-top: 114px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 60px 45px;
}
.cards-item {
    max-width: 373px;
    width: 100%;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 2px 2px 100px 0px rgba(0, 0, 0, 0.20);
}
.cards-item:hover {
    box-shadow: 3px 2px 20px 0px #795970d6;
}
.cards-img {
    max-width: 373px;
    width: 100%;
}
.cards-descr {
    display: block;
    margin: 0 auto;
    padding: 27px 0;
    max-width: 314px;
    width: 100%;

}
.cards-title {
    margin-bottom: 17px;
    color: #000;
    font-size: 28px;
    font-weight: 500;
    line-height: 0.92;
}
.cards-text {
    margin-bottom: 12px;
    color: #666;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.44;
}
.text-descr {
    margin-bottom: 20px;
    color: #42446E;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
}
.text-dec {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.8;
}
.cards-link {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
}
.card-link-icon {
    width: 20px;
    margin-right: 10px;
}
.cards-link:first-of-type {
    margin-right: 48px;
}
.contacts {
    display: block;
    margin: 0 auto;
    text-align: center;
}
.contacts-title {
    color: #1E0E62;
    text-align: center;
    font-family: DM Sans, sans-serif;
    font-size: 58px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -1px;
}
.contacts-title a {
    background: linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.footer {
    margin-top: 200px;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.footer-logo {
    max-width: 97px;
    width: 100%;
}
.footer-nav {
    display: inline-flex;

}
.footer-nav-item {
    margin-right: 60px;
    color: #42446E;
    font-family: DM Sans, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
    text-decoration: none;
}
.mobile-footer-icon {
    display: inline-flex;
    column-gap: 20px;
}
.footer-line  {
    stroke-width: 2px;
    stroke: #666;
    opacity: 0.3;
}
.footer-content {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}
.footer-text {
    color: #666;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
}
.footer-text-accent {
    background: var(--Gradient-Heading, linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media (max-width: 1200px) {
    .container {
        max-width: 1000px;
    }
    
    .header-list {
        margin-right: 20px;
        gap: 30px;
    }
    .hero {
        align-items: center;
        justify-content: space-between;
    }
   
    .hero-title {
        margin-right: 30px;
    }
    .hero-text {
        margin-top: 0;
        font-size: 42px;
    }
    .about {
        margin-left: 20px;
    }
    .footer {
        margin-top: 150px;
    }
    .footer-container {
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .footer-content {
        align-items: center;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 40px;
    }
    .footer-line  {
        max-width: 940px;
        margin-left: 20px;
    }
    .footer-text {
        font-size: 16px;
    }
}
@media (max-width:1000px) {
    .container {
        max-width: 768px;
        padding-top: 20px;
        padding-bottom: 40px;
    }
    .header-logo {
        width: 9vw;
    }
    .header-list {
        margin-right: 10px;
        gap: 25px;
    }
    .list-item {
        font-size: 2vw;
    }
    .header-icon {
        width: 3vw;
    }
    .hero {
        margin-bottom: 130px;
    }
    .hero-title {
        max-width: 400px;
        margin-right: 25px;
    }
    .hero-text {
        font-size: 35px;
    }
    .hero-img {
        width: 30vw;
    }
    .about-title {
        font-size: 35px;
    }
    .footer {
        margin-top: 100px;
    }
    .footer-logo {
        width: 9vw;
    }
    .footer-line  {
        max-width: 760px;
        margin-left: 20px;
    }
    .footer-content {
        margin-top: 20px;
    }
    .footer-nav {
        display: flex;
        align-items: center;
    }
    .footer-nav-item {
        font-size: 16px;
    }
    .footer-text {
        max-width: 200px;
        font-size: 12px;
    }
}
@media (max-width:860px) {
    .container {
        margin-left: 40px;
        margin-right: 40px;
    }
}
@media (max-width:768px) {
    .container {
        max-width: 480px;
        margin: 0 auto;  
    } 
    .header {
        display: none;
    }
    .mobile-header {
        display: block;
        margin-top: -45px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .mobile-logo-img {
        width: 8vw;
    }
    .mobile-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
    }
    .mobile-nav {
        display:none;
        position: absolute;
        margin-top: 20px;
        max-width: 100vw;
        width: 100%;
        right: 0;
        left: 0;
        text-align: center;
        background: #FFF;
        box-shadow: 4px 0px 8px 0px rgba(0, 0, 0, 0.20);
    }
    .mobile-list {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .mobile-nav li:hover {
        display: block;
        transition: 0.3s ease;
    }
    .mobile-nav li {
        margin-top: 10px;
    }
    input[type=checkbox]:checked ~ .mobile-menu {
        display: block;
    }
    .hamburger-menu {
        display: block;
    }
    .hero {
        margin-top: 90px;
        margin-bottom: 90px;
    }
    .hero-text {
        font-size: 30px;
    }
    .hero-img {
        width: 30vw;
    }
    .about {
        max-width: 480px;
    }
    .about-title {
        margin: 28px 0;
        font-size: 30px;
    }
    .about-text {
        font-size: 15px;
    }
    .work-title {
        font-size: 18px;
    }
    .work-space {
        justify-content: space-between;
    }
    .work-text {
        font-size: 9px;
    }
    .work-text:first-child {
        flex-grow: 0;
    }
    .work-text:last-child {
        margin-left: 0;
    }
    .footer-nav {
        justify-content: end;
        gap: 10px;
    }
    .footer-container {
        margin-bottom: 10px;
    }
    .footer-nav-item {
        margin-right: 0px;
        font-size: 15px;
    }
    .mobile-footer-icon {
        display: none;
    }
    .mobile-footer-nav {
       display: none;
    }
    .footer-text {
        display: block;
        margin: 0 auto;
        max-width: 480px;
        font-size: 12px;
    }
}
@media (max-width:530px) {
    .header-mobile {
        margin-left: 10px;
        margin-right: 10px;
    }
    .mobile-menu li {
        margin-top: 0;
    }
    .about {
        margin-left: 10px;
        margin-right: 10px;
    }
}
