* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Poppins, sans-serif;
    font-style: normal;
}
.main-title {
    margin: 30px 0;
    color: var(--main-title);
    font-size: 42px;
    font-weight: 700;
    line-height: 1.23;
    letter-spacing: -0.4px;
}
.main-text {
    color: var(--main-text);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
}
:root {
    /* Light mode variables */
    --container-background: #FFFF;
    --main-text: #666;
    --main-title: #42446E;
    --hero-title: #42446E;
    --icon-color: #666;
    --cards-backgr: #ffff;
    --cards-text: #666;
    --cards-link: #000;
    --footer-color: #42446E;
    --footer-line: #666;
    /* Dark theme variables */
    --container-dark-background: #191919;
    --dark-main-text: #A7A7A7;
    --dark-main-title: #CCC;
    --dark-hero-title: #D9D9D9;
    --dark-icon-color: #A7A7A7;
    --dark-cards-backgr: #363636;
    --dark-cards-text: #CCC;
    --dark-cards-link: #fff;
    --dark-footer-color: #A7A7A7;
    --dark-footer-line: #42446E;
}
.hidden {
    display: none;
}
.dark-mode-checkbox:checked ~ .checkbox-container {
    --container-background: var(--container-dark-background);
    --main-text: var(--dark-main-text);
    --main-title: var(--dark-main-title);
    --hero-title: var(--dark-hero-title);
    --icon-color: var(--dark-icon-color);
    --icon-color: var(--dark-icon-color);
    --cards-backgr: var(--dark-cards-backgr);
    --cards-text: var(--dark-cards-text);
    --cards-link: var(--dark-cards-link);
    --footer-color: var(--dark-footer-color);
    --footer-line: var(--dark-footer-line);
} 
.checkbox-container {
    background-color: var(--container-background);
}
.dark-mode-label {
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.dark-mode-label::before {
    content: url("/img/moon-icon.svg");
    width: 28px;
    height: 28px;
    display: block;
    position: absolute;
    cursor: pointer;
    background: #666;
    padding: 2px;
    border-radius: 50%;
}
.dark-mode-checkbox:checked ~ .checkbox-container .dark-mode-label::before {
    content: url("/img/sun-icon.svg");
    display: block;
    cursor: pointer;
    width: 28px;
    height: 28px;
    position: absolute;
    cursor: pointer;
    background: #A7A7A7;
    padding: 2px;
    border-radius: 50%;
}
.container {
    display: block;
    margin: 0 auto;
    max-width: 1240px;
    padding: 40px 20px 60px;
}
.mobile-cards {
    display: none;
}
.header {
    display: flex;
    justify-content: space-between;
}
.header-logo {
    max-width: 97px;
    width: 100%;
}
.header-nav {
    display: inline-flex;
    gap: 60px;
    list-style: none;
}
.nav-item {
    position: relative;
    color: var(--main-text);
    text-align: center;
    font-family: DM Sans, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3;
    text-decoration: none;
}
.nav-item:hover {
    background: linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-item::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background: linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%);
    -webkit-text-fill-color: transparent;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}
.nav-item:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.header-link {
    display: flex;
    gap: 20px;
}
.link-icon {
    max-width: 30px;
    height: 30px;
    width: 100%;
    fill: var(--icon-color);
}
.navbar-toggle {
    display: none;
}
.mobile-header {
    display: none;
}
.hamburger-menu {
    display: none;
    color: var(--main-text);
    font-size: 35px;
    cursor: pointer;
}
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 330px;
}
.hero-title {
    display: inline-block;
    max-width: 636px;
    
}
.hero-text {
    margin-top: 20px;
    color: var(--hero-title);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 58px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -1px;
}
.hero-text-name {
    background: linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero-img {
    width: 350px;
    height: 349px;
    border-radius: 230px;
    border: 9px solid #E70FAA;
}
.about {
    max-width: 710px;
    margin-bottom: 200px;
}
.about .main-title {
    margin: 38px 0;
}
.about-text {
    color: var(--main-text);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.44;
}
.work {
    display: block;
    margin-bottom: 30px;
    border-bottom: 2px solid #EBEAED;
}
.work-position {
    display: flex;
    justify-content: space-between;
}
.work-title {
    display: inline-block;
    color: #666;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 1px;
}
.work-button {
    box-sizing: border-box;
    display: inline-block;
    width: 84px;
    height: 24px;
    border-radius: 100px;
    background: #D7FFE0;
    color: #018C0F;
    text-align: center;
    font-size: 9px;
    font-weight: 600;
    line-height: 2.8;
}
.work-space {
    margin-top: 10px;
    margin-bottom: 25px;
    display: flex;
    justify-content: end;
}
.work-text {
    color: #A7A7A7;
    font-size: 12px;
    font-weight: 500;
    line-height: 2.33;
    letter-spacing: 1px;
}
.work-text:first-child {
    flex-grow: 1;
}
.work-text:last-child {
    margin-left: 180px;
}
.tech {
    margin-bottom: 200px;
}
.tech-skills {
    display: flex;
    flex-flow: wrap;
    column-gap: 100px;
    row-gap: 80px;
    margin-top: 200px;
}
.skills-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 25%;
}
.skills-icon .icon-dark {
    fill: var(--cards-link);
}
.projects {
    margin-bottom: 200px;
}
.projects-cards {
    margin-top: 114px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 60px 45px;
}
.cards-item {
    max-width: 373px;
    width: 100%;
    border-radius: 20px;
    background-color: var(--cards-backgr);
    box-shadow: 2px 2px 100px 0px rgba(0, 0, 0, 0.20);
}
.cards-item:hover {
    box-shadow: 3px 2px 20px 0px #795970d6;
}
.cards-img {
    max-width: 373px;
    width: 100%;
}
.cards-descr {
    display: block;
    margin: 0 auto;
    padding: 27px 0;
    max-width: 314px;
    width: 100%;
}
.cards-button {
    display: none;
}
.cards-title {
    margin-bottom: 17px;
    color: var(--main-title);
    font-size: 28px;
    font-weight: 500;
    line-height: 0.92;
}
.cards-text {
    margin-bottom: 12px;
    color: var(--cards-text);
    font-size: 18px;
    font-weight: 300;
    line-height: 1.44;
}
.text-descr {
    margin-bottom: 20px;
    color: var(--main-title);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
}
.text-dec {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.8;
}
.cards-link {
    color: var(--cards-link);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
}
.card-link-icon {
    width: 20px;
    margin-right: 10px;
}
.cards-link:first-of-type {
    margin-right: 48px;
}
.contacts {
    display: block;
    margin: 0 auto;
    text-align: center;
}
.contacts-title {
    color: var(--hero-title);
    text-align: center;
    font-family: DM Sans, sans-serif;
    font-size: 58px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -1px;
}
.contacts-title a {
    background: linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contacts-link {
    position: relative;
}
.contacts-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background: linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%);
    -webkit-text-fill-color: transparent;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}
.contacts-link:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}
.footer {
    margin-top: 200px;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.footer-logo {
    max-width: 97px;
    width: 100%;
    fill: var(--footer-color);
}
.footer-nav {
    display: inline-flex;
    align-items: center;
}
.footer-nav-item {
    margin-right: 60px;
    color: var(--footer-color);
    font-family: DM Sans, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
    text-decoration: none;
}
.mobile-footer-icon {
    display: inline-flex;
    column-gap: 20px;
}
.footer-line  {
    stroke-width: 2px;
    stroke: var(--dark-footer-line);
    opacity: 0.3;
}
.footer-content {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}
.footer-text {
    color: var(--main-text);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
}
.footer-text-accent {
    background: var(--Gradient-Heading, linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media (max-width: 1230px) {
    .container {
        max-width: 920px;
    }
    .hero-title {
        max-width: 450px;
    }
    .hero-text {
        margin-top: 0;
        font-size: 42px;
    }
    .about {
        text-align: center;
        max-width: 100%;
    }
    .work-text:first-child {
        text-align: left;
    }
    .tech {
        text-align: center;
    }
    .tech-skills {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 80px 100px;
    }
    .skills-icon {
        max-width: 120px;
        width: 100%;
    }
    .projects {
        text-align: center;
    }
    .projects-cards {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
    .cards-descr {
        text-align: left;
        padding: 27px 10px;
    }
    .card-link-icon {
        margin: 0;
    }
    .footer {
        margin-top: 150px;
    }
    .footer-container {
        margin-bottom: 20px;
    }
    .footer-line  {
        width: 100%;
    }
    .footer-content {
        margin-top: 40px;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }
}
@media (max-width:920px) {
    .container {
        max-width: 670px;
        padding: 40px 0;
    }
    .main-title {
        font-size: 38px;
    }
    .header-logo {
        width: 8vw;
    }
    .header-nav {
        column-gap: 30px;
    }
    .nav-item {
        font-size: 18px;
    }
    .link-icon {
        width: 3vw;
    }
    .hero {
        margin: 150px 0;
    }
    .hero-img {
        width: 300px;
        height: 300px;
    }
    .about {
        margin-bottom: 150px;
    }
    .about-title {
        font-size: 35px;
    }
    .tech {
        margin-bottom: 150px;
    }
    .tech-skills {
        margin-top: 100px;
    }
    .skills-icon {
        max-width: 100px;
        width: 100%;
    }
    .projects {
        margin-bottom: 150px;
    }
    .projects-cards {
        margin-top: 100px;
    }
    .contacts-title {
        font-size: 45px;
    }
    .footer {
        margin-top: 100px;
    }
    .footer-logo {
        width: 8vw;
    }
    .footer-content {
        margin-top: 20px;
    }
    .footer-nav-item {
        font-size: 16px;
    }
    .footer-text {
        font-size: 14px;
    }
}
@media (max-width:860px) {
    .tech-skills {
        gap: 40px 0px;
    }
    .skills-icon {
        width: 80px;
    }
}
@media (max-width:770px) {
    .container {
        max-width: 480px;  
    } 
    .header {
        display: none;
    }
    .mobile-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .mobile-logo-img {
        width: 10vw;
    }
    .mobile-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .mobile-nav {
        display:none;
        position: absolute;
        margin-top: 20px;
        max-width: 100vw;
        width: 100%;
        right: 0;
        left: 0;
        text-align: center;
        box-shadow: 4px 0px 8px 0px rgba(0, 0, 0, 0.20);
    }
    .mobile-list {
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        padding-top: 6vw;
        row-gap: 15vw;
        justify-content: center;
        flex-direction: column;
    }
    .mobile-nav li:hover {
        display: block;
        transition: 0.3s ease;
    }
    .mobile-nav {
        margin-top: 0;
    }
    .mobile-nav li {
        margin-top: 10px;
    }
    .mobile-menu-nav {
        margin-top: 15vw;
    }
    .mobile-menu-nav a {
        margin-right: 10px;
    }
    .mobile-menu-nav a:last-of-type {
        margin-right: 0;
    }
    input[type=checkbox]:checked ~ .mobile-nav {
        display: block;
        background-color: var(--cards-backgr);
        height: 100%;
    }
    .hamburger-menu {
        display: block;
    }
    .dark-mode-label {
        top: -36px;
        left: -50px;
    }
    .dark-mode-label::before {
        max-width: 23px;
        height: 23px;
        width: 100%;
    }
    .dark-mode-checkbox:checked ~ .checkbox-container .dark-mode-label::before  {
        max-width: 23px;
        height: 23px;
        width: 100%;
    }
    .hero {
        margin: 100px 0;
    }
    .hero-title {
        max-width: 250px;
    }
    .hero-text {
        font-size: 30px;
    }
    .hero-img {
        width: 200px;
        height: 200px;
    }
    .main-title {
        font-size: 25px;
        margin: 30px 0 20px;
    }
    .about {
        margin-bottom: 100px;
    }
    .about .main-title {
        font-size: 25px;
        margin: 30px 0 20px;
    }
    .work-title {
        font-size: 18px;
    }
    .work-text:last-child {
       margin-left: 10px;
    }
    .tech {
        margin-bottom: 100px;
    }
    .tech-skills {
        column-gap: 40px;
        margin-top: 60px;
    }
    .projects {
        margin-bottom: 100px;
    }
    .projects-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .projects-cards {
        margin-top: 60px;
    }
    .mobile-cards {
        display: block;
    }
    .mobile-cards-descr {
        display: none;
    }
    .cards-descr {
        padding: 15px 10px;
    }
    .cards-title {
        text-align: center;
        margin-bottom: 15px;
        font-size: 23px;
        line-height: 1.1;
    }
    .cards-text {
        text-align: start;
        margin-top: 20px;
    }
    .text-descr {
        text-align: start;
    }
    .cards-link:first-of-type {
        margin-right: 10px;
    }
    .card-link-icon {
        margin-right: 0;
    }
    .question-input {
        display: none;
        position: relative;
    } 
    .question-label {
        position: relative;
    }
    .question-label::after {
        content: url("/img/down-arrow.svg");
        left: -30px;
        top: -25px;
        position: absolute;
    }
    .cards-dropdown input:checked + .question-label::after {
        transform: rotate(180deg);
    }
    .answer {
        height: 0;
        overflow: hidden;
        transition: 0.5s;
    } 
    .question-input:checked + .question-label + .answer {
        height: auto;
        padding: 10px 0;
    }
    .cards-dropdown {
        position: relative;
        display: block;
        text-align: center;
        min-height: 30px;
    }
    .contacts-title {
        font-size: 30px;
    }
    .footer-nav {
        justify-content: end;
        gap: 10px;
    }
    .footer-container {
        margin-bottom: 10px;
    }
    .footer-nav-item {
        margin-right: 0px;
        font-size: 15px;
    }
    .mobile-footer-icon {
        display: none;
    }
    .mobile-footer-nav {
       display: none;
    }
    .footer-text {
        display: block;
        margin: 0 auto;
        max-width: 480px;
        font-size: 12px;
    }
}
@media (max-width:530px) {
    .container {
        max-width: 350px;
        padding: 15px 10px 20px;
    }
    .main-title {
        font-size: 24px;
    }
    .main-text {
        font-size: 16px;
    }
    .mobile-logo-img {
        width: 15vw;
    }
    .hero {
        margin: 60px 0;
    }
    .hero-title {
        max-width: 200px;
    }
    .hero-img {
        width: 150px;
        height: 150px;
        align-self: flex-start;
        border: 3px solid #E70FAA;
    }
    .hero-text {
        font-size: 26px;
    }
    .about .main-title {
        font-size: 24px;
    }
    .about-text {
        font-size: 16px;
    }
    .work-position {
        flex-direction: column;
        align-items: center;
        row-gap: 15px;
    }
    .work-space {
        flex-direction: column;
        align-items: flex-start;
    }
    .work-text:last-child {
        margin-left: 0;
    }
    .projects-cards {
        margin-top: 40px;
    }
    .arrow-drop {
        width: 3vw;
        height: 3vw;
    }
    .tech-skills {
        margin-top: 40px;
        grid-template-columns: repeat(3, 1fr);
    }
    .skills-icon {
        width: 60px;
    }
    .contacts-title {
        font-size: 26px;
    }
    .footer-logo {
        width: 12vw;
    }
}
